SurfSchoolManager/service/src/main/resources/xsd/commonTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://ssm.bukan.ru/service/types/commonTypes"
           targetNamespace="http://ssm.bukan.ru/service/types/commonTypes"
>
    <!-- Идентификатор -->
    <xs:element name="Id" type="xs:long"/>

    <!-- Test graph -->
    <xs:complexType name="Stats">
        <xs:sequence>
            <xs:element name="day" type="xs:date"/>
            <xs:element name="cnt" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Stats" type="tns:Stats"/>
</xs:schema>